<strong>Data usage:</strong>
<ul>
  <li>Your feedback and identity is stored in the database. Project maintainers may have access to this.</li>
  <li>We may publish statistics grouped by user <i>type</i> - for example, feedback stats from SO&nbsp;moderators vs. network&nbsp;moderators vs. non-moderators. That kind of thing. We'll try not to individually identify anyone.</li>
  <li>Data published in data dumps will be grouped by user, but users will be anonymized.</li>
</ul>
