// Place all the styles related to the comment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.emoji {
  opacity:0.9;
  // An image fade would be nice... but... NO
}

#settings {
  display: none;
}

.dropdown-noscript:hover .dropdown-menu {
  display: block;
}

.comment-container form {
  input[type=radio] {
    position:fixed;opacity:0;
  }

  input[type="radio"] + span {
    transition: 0.5s ease all;
  }

  input[type="radio"]:checked + span {
    background: rgba(108,117,125,0.37) !important;
    color: #3b4045;
    // border-color: #76808a; Had to remove because overlapping border weirdness
  }

  input[type="radio"]:hover + span {
    background: rgba(108,117,125,0.2);
  }

  .btn {
    border-radius: 0px !important;
    margin-left:-1px;
    border-color: #adb3b9;
  }

  .btn-img {
    transition: all 0.2s ease;
    min-width:4.2em;
    min-height:4em;

    img {
      transition: all 0.2s ease;
      margin-top:0.5em;
      width:2em;
      height:2em;
    }
  }

  p {
    transition: all 0.2s ease;
  }

  .row + hr {
    transition: all 0.2s ease;
  }

  $radius: 0.17rem;
  .btn-left {
    border-top-left-radius: $radius !important;
    border-bottom-left-radius: $radius !important;
  }

  .btn-right {
    border-top-right-radius: $radius !important;
    border-bottom-right-radius: $radius !important;
  }

  @media screen and (min-width: 600px) {
    .row.reviewed:not(:hover) {
      transition: all 0.2s ease;
      filter: opacity(65%);

      .btn-img {
        transition: all 0.2s ease;
        min-width: 0.9em;
        min-height: 0.9em;
        padding: 0.1rem 0.425rem;

        img {
          transition: all 0.2s ease;
          margin-top: 0;
          width: 0.9em;
          height: 0.9em;
        }
      }

      p {
        font-size: 0.75em;
        transition: all 0.2s ease;
      }

      & + hr {
        transition: all 0.2s ease;
        margin-top: 0.2rem;
      }
    }
  }
}
