// Place all the styles related to the comment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-container input[type=radio]{
  position:fixed;opacity:0;
}

.comment-container input[type="radio"] + span {
  transition: 0.5s ease all;
}

.comment-container input[type="radio"]:checked + span {
  background: rgba(108,117,125,0.65) !important;
}
.comment-container input[type="radio"]:hover + span {
  background: rgba(108,117,125,0.4);
}

.btn {
  border-radius: 0px !important;
  margin-left:-1px;
}

.btn-left {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.btn-right {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}
